<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiumTXQLRoy2prM6OeNwl5j6t2YEQVrNg</string>
	<key>GCM_SENDER_ID</key>
	<string>915006759357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eLearningApp</string>
	<key>PROJECT_ID</key>
	<string>learning-app-311ea</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-app-311ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915006759357:ios:735fb5b0f793a46cb232d4</string>
</dict>
</plist>